# Flask server settings
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=false

# SSH / fwnids settings
FWNIDS_HOST=192.168.100.6
SSH_KEY_PATH=/home/soaradmin/.ssh/id_rsa

# Slack Webhook
SLACK_WEBHOOK_URL=your-slack-webhook-url-here

# Notion API
NOTION_API_KEY=secret_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
NOTION_DATABASE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
